<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS v5.3.8 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/Home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="admin">
        <nav>
            <header>
                <h3 class="item d-none">PINK STORE</h3>
                <i class="fa-solid fa-store item"></i>
                <div class="icon">
                    <i class="fa-solid fa-circle-half-stroke"></i>
                </div>
            </header>
            <ul class="menu-show">
                <li><i class="fa-solid fa-users-gear"></i>
                    <p class="item d-none">DASHBOARD</p>
                </li>
                <li><i class="fa-solid fa-file"></i>
                    <p class="item d-none">RESEVATION</p>
                </li>
                <li><i class="fa-solid fa-circle-half-stroke"></i>
                    <p class="item d-none">ODER FOOD</p>
                </li>
                <li><i class="fa-brands fa-discord"></i>
                    <p class="item d-none">BILL</p>
                </li>
                <li><i class="fa-brands fa-apple"></i>
                    <p class="item d-none">INFORMATION</p>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <ul>
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><i class="fa-solid fa-bell"></i></li>
                    <li><i class="fa-solid fa-envelope"></i></li>
                </ul>
                <div class="user"><i class="fa-solid fa-user-secret"></i></div>
            </header>
            <div class="box">Dashboard</div>
            <div class="box">
                <div class="container">
                    <div class="row row-cols-lg-4 row-cols-2 row-cols-1 g-3 mt-3">
                        <div class="col">
                            <div class="card zili">
                                <div class="box-img">
                                    <img src="../img/restaurant.png" alt="">
                                </div>
                                <h3>1</h3>
                                <div class="d-flex gap-4 justify-content-center align-items-center">
                                    <button class="btn btn-warning text-white"><i class="fa-solid fa-circle-plus"></i>
                                        BOOKING</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card zili">
                                <div class="box-img">
                                    <img src="../img/resto2.jpg" alt="">
                                </div>
                                <h3>2</h3>
                                <div class="d-flex gap-4 justify-content-center align-items-center">
                                    <button class="btn btn-success text-white d-flex align-items-center"><i
                                            class="fa-solid fa-circle-plus"></i>
                                        ADD</button>
                                    <button class="btn btn-danger text-white d-flex align-items-center"><i
                                            class="fa-solid fa-cart-shopping"></i>
                                        CART</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">oder food</div>
            <div class="box">bill</div>
            <div class="box">info</div>
        </main>
    </div>
    <script src="../js/Home.js"></script>
    <!-- Bootstrap JavaScript Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>